body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
 
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(52, 52, 52); 
    /* float: left; */
    justify-content: center;
    
  }
  
  .navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
 
  
  .subnav .subnavbtn {
    font-size: 26px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(184, 184, 184);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(60, 34, 34);
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: right;
    color: rgb(161, 157, 157);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .subnav-content a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .imgflex{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #353535;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: rgb(251, 251, 251);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #000000;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .img{
    margin-left: 0%;
  

}
 
.pf{
  margin-left: 5%;
float: left;

  
  
}

.text{
  margin-left: 30%;
}

.sec1{
  background-color: rgba(24, 24, 24, 1);
  height: 18cm;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;}

  .d2{
    position: absolute;
     width: 30%;
     height: 15%;
     margin-right: 70%;
      align-items: center;
       color: white;
       display: flex;
       justify-content: space-evenly;
       font-family: monospace;
       background-color: red;
       font-size: 200%;}

       
    .d1{
        
    position: relative;
    border: 5px solid red;
    background-color: white;
    height: 80%;
     width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  